body{
	/* background-color: bisque; */
	font-family: Arial, Helvetica, sans-serif;
}
h1{
	/* background-color: white; */
}
.school-form{
	width: 100%;
}

.school-form input {
	display: block;
	margin: 5px;
	width: 100%;
}

.school-form label {
	display: block;
}
.main-title{
	text-align: center;
}
.columns{
	display: flex;
	width: 100%;
}
.column-item{
	width: 40%;
	margin: 0px 5%;
}
.column-title{
	text-align: center;
}
.titles{
	display: flex;
}
.items-title{
	margin-left: 20px;
	text-align: center;
}
.title0{
	min-width: 230px;
}
.title1{
	min-width: 90px;
}
.title2{
	min-width: 70px;
}
.title3{
	margin-left: 30px;
}

#items{
	margin-left: 0px;
	margin-block-start: 0px;
	padding-inline-start: 0px;
}
.listItem{
	display: flex;
	margin-bottom: 15px;
}
.listItem select{
	margin-right: 10px;
	width: 220px;
	min-width: 220px;
	max-width: 220px;
}
.listItem input{
	width: 70px;
	margin:0px 12px 0px 12px;
	text-align: center;
}
.listItem span{
	margin-left: 45px;
}
.delete-icon{
	padding: 4px 0px 0px;
	cursor: pointer;
}
.show-additionals{
	cursor: pointer;
	padding: 4px 4px 0px;
	margin-left: 10px;
	border-radius: 5px;
	border: 0.1px solid #409eff;
	background-color: #409eff;
}
.remove-item{
	margin-right: 10px;
	background-color: #f56c6c;
	border-radius: 5px;
	border: 0.1px solid #f56c6c;
}
.action-buttons {
	cursor: pointer;
	border: 0.1px solid gray;
	border-radius: 5px;
	padding: 10px;
	font-weight: 700;
	color: white;
}
#add-item{
	margin: 5px;
	background-color: #67c23a;
	border-color: #67c23a;
}
#reset-form{
	margin-top: 20px;
	margin-right: 20px;
	background-color: #f56c6c;
	border-color: #f56c6c;
}
.confirm-button{
	background-color: #409eff;
	border-color: #409eff;

}
.additionals-list{
	display: block;
	width: 100%;
}
.additionals-list ol{
	padding-inline-start: 25px;
}
.additional-form{
	margin-bottom: 10px;
	display: flex;
}
.additional-form select{
	width: 195px;
	margin-right: 10px;
	height: 23px;
}
.additional-form input{
	width: 70px;
	margin:0px 12px 0px 12px;
	text-align: center;
}
.add-additionals {
	position: relative;
	left: 40%;
	margin-bottom: 10px;
	cursor: pointer;
	padding: 4px 4px 4px;
	border-radius: 5px;
	background-color: #67c23a;
	border: 0.1px solid #67c23a;
}
.hidden{
	display: none;
}

#school-data{
	list-style: square inside;
}
#school-data li{
	margin-bottom: 5px;
}
#budget-table{
	width: 100%;
	margin: 0px;
}
table, th, td{
	border: 1px solid black;
  	border-collapse: collapse;
	padding-right: 10px;
	padding-left: 10px;
}
table{
	margin-bottom: 25px;
}
.item-number{
	min-width: 40px;
	width: 15%;
	padding-right: 10px;
	text-align: right;
}
.item-name{
	min-width: 150px;
	text-align: left;
	padding-left: 10px;
	width: 40%;
	padding-right: 10px;
}
.item-amount{
	min-width: 40px;
	width: 17%;
	padding-right: 10px;
	text-align: center;
}
.item-price{
	min-width: 40px;
	width: 13%;
	padding-right: 10px;
	text-align: center;
}
.item-total{
	width: 15%;
	min-width: 50px;
	text-align: center;
}
#summary{
	text-align: right;
	margin-bottom: 5px;
	margin-top: 10px;
}

@media screen and (max-width: 1200px)  {  
	.columns{
		display: block;
	}
	.column-item{
		width: 90%;
		margin: 0px 5%;
	}
} 

@media screen and (max-width: 980px)  {  
	.columns{
		display: block;
	}
	.column-item{
		width: 90%;
		margin: 0px 5%;
	}
} 

/* @media screen and (max-width: 600px)  {  
	.columns{
		display: block;
	}
	.column-item{
		width: 90%;
		margin: 0px 5%;
	}
}  */