.budgets-list{
	/* width: 50%; */
	margin: 0 auto;
}

.budget-date{
	min-width: 80px;
}
.budget-school{
	min-width: 180px;
}
.budget-amount{
	min-width: 20px;
}
.budget-contact{
	min-width: 120px;
}
.budget-total{
	min-width: 60px;
}
.budget-actions{
	min-width: 20px;
}

.history-preview{
	display: flex;
}
.column{
	width: 50%;
	padding: 30px;
}

#school-data li{
	margin-bottom: 5px;
}
#budget-table{
	width: 100%;
	margin: 0px;
}
.budget-section :is(table, th, td){
	border: 1px solid black;
  	border-collapse: collapse;
	padding-right: 10px;
	padding-left: 10px;
}
#summary{
	text-align: right;
	margin-bottom: 5px;
	margin-top: 10px;
}