.budgets-list{
	padding: 0px 40px;
	margin: 0 auto;
}

.budget-date{
	width: 15%;
	min-width: 80px;
}
.budget-school{
	width: 25%;
	min-width: 180px;
}
.budget-contact{
	width: 25%;
	min-width: 120px;
}
.budget-total{
	width: 20%;
	min-width: 60px;
}
.budget-actions{
	width: 15%;
	min-width: 20px;
}

.column-item{
	padding: 30px;
}

#school-data li{
	margin-bottom: 5px;
}
#budget-table{
	width: 100%;
	margin: 0px;
}
.budget-section :is(table, th, td){
	border: 1px solid black;
  	border-collapse: collapse;
	padding-right: 10px;
	padding-left: 10px;
}
#summary{
	text-align: right;
	margin-bottom: 5px;
	margin-top: 10px;
}

@media screen and (max-width: 1500px)  {  
	table th:nth-child(4) {
		display: none;
	}
	table td:nth-child(4) {
		display: none;
	}
} 
@media screen and (max-width: 1200px)  {  
	table th:nth-child(4) {
		display: block;
	}
	table td:nth-child(4) {
		display: block;
	}
} 

@media screen and (max-width: 1000px)  {  
	table th:nth-child(4) {
		display: none;
	}
	table td:nth-child(4) {
		display: none;
	}
} 
@media screen and (max-width: 600px)  {  
	table th:nth-child(3) {
		display: none;
	}
	table td:nth-child(3) {
		display: none;
	}
} 